html {
    font-size: 100%;
}
@media screen and (max-width: 768px) 
{
    body {
        font-size: 8pt;
        }
}
img {
    max-width: 100%;
    height: auto;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: normal;
}

#logo {
    width:200px;
}

nav, footer {
    background-color: black;
    height: 70px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;  
}

li {
    display: inline-block;
}

@media screen and (max-width: 768px) 
{
    li {
        display: list-item;
        }
}

a {
    color: white;
}

#promotion {
    width: 100%;
}

.accueil {
    font-size: 20pt;
}

.ligneaccueil {
    background-color:lightgrey;
    height: 1px;
    border: none;
}

p {
    line-height: 2em;
}

.introduction {
    display: flex;
    flex-direction: row;
}

.texte {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

#coldroite {
    background-color: lightgrey;
    height: auto; 
    width: 30%;
}

@media screen and (max-width: 768px) 
{
    #coldroite {
        display: none;
        width: 0%;
        }
}

  